<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.SecuriThingsTest.testing.TestNGMain">
				<methods>
					<include name="createAccount"/>
					<include name="addItemsToCart"/>
					<include name="pay"/>
					<include name="closeDriver"/>
					
				</methods>
			</class>
		</classes>
	</test>
	<!-- Test -->
</suite> <!-- Suite -->
